<%- @episodes.each do |episode| %>
  <article class="row episode">
    <aside class="screenshot">
      <a href="<%= episode_path(episode) %>">
        <%= image_tag episode.still_url %>
      </a>
    </aside>

    <section class="content clearfix">
      <div class="info">
        <span class="number">Episode #<%= episode.padded_position %></span> –
        <span class="published_at">
          <%= time_tag(episode.published_at) %>
        </span> –
        <span class="comments">
          <a href="<%= episode_path(episode, view: 'comments') %>">
            <%= episode.comments_count %> comments
          </a>
        </span>
      </div>

      <h3>
        <a href="<%= episode_path(episode) %>">
          <%= episode.name %>
        </a>
      </h3>
      <div class="description">
        <%= episode.description %>
        <span class="stats">(<%= episode.minutes %> minutes)</span>
      </div>

      <div class="watch">
        <a href="<%= episode_path(episode, autoplay: true) %>" class="btn btn-primary">Watch Episode</a>
      </div>
    </section>
  </article>
<% end %>

<%= paginate @episodes %>

<aside class="side">
  <%= render 'aside' %>
</aside>

