<%- @episodes.each do |episode| %>
  <div class="row episode">
    <div class="screenshot">
      <a href="<%= episode_path(episode) %>">
        <img src="http://railscasts-china.com/assets/episodes/stills/013-live-show-with-ye-dingding-1.png?1338654676"/>
      </a>
    </div>

    <div class="content">
      <div class="info">
        <span class="number">Episode #<%= episode.id %></span> –
        <span class="published_at">
          <%= time_tag(episode.published_at) %>
        </span> –
        <span class="comments">
          <a href="<%= episode_path(episode, view: 'comments') %>">
            <%= episode.comments_count %> comments
          </a>
        </span>
      </div>

      <h3>
        <a href="<%= episode_path(episode) %>">
          <%= episode.name %>
        </a>
      </h3>
      <div class="description">
        <%= episode.description %>
        <span class="stats">(<%= episode.minutes %> minutes)</span>
      </div>

      <div class="watch">
        <a href="<%= episode_path(episode) %>" class="btn btn-primary">Watch Episode</a>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
<% end %>

<aside class="side">
  <%= render 'aside' %>
</aside>

