<% content_for :head do %>
  <%= meta_tag('episode-url', 'http://railscasts-china.com/assets/episodes/video/013-live-show-with-ye-dingding-1.mp4') %>
<% end %>

<div class="row episode" id="episode">
  <div class="content clearfix">
    <div class="screenshot">
      <a href="<%= episode_path(@episode) %>">
        <%= image_tag @episode.still.url %>
      </a>
    </div>

    <h3>
      <span class="number">#<%= @episode.id %></span>
      <a href="<%= episode_path(@episode) %>">
        <%= @episode.name %>
      </a>
    </h3>

    <div class="info">
      <span class="published_at"><%= time_tag(@episode.published_at) %></span> |
      <span class="stats"><%= @episode.minutes %> minutes</span> |
      <span>
        <% @episode.tags.each do |tag| %>
          <a href="/tags/#{tag.name}/episodes"><%= tag.name %></a>
        <% end %>
      </span>
    </div>

    <div class="description">
      <%= @episode.description %>
    </div>

    <div class="watch">
      <a class="btn btn-primary">Click to Play Video ▶</a>
    </div>
  </div>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#notes" data-toggle="tab">Notes</a></li>
      <li><a href="#comments" data-toggle="tab">Comments</a></li>
      <li><a href="#similar" data-toggle="tab">Similar Episodes</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="notes">
        <%= textilize @episode.notes %>
      </div>

      <div class="tab-pane" id="comments">
        Comment List
      </div>

      <div class="tab-pane" id="similar">
        Similar Episodes
      </div>
    </div>
  </div>
</div>

<%= render 'shared/player' %>
