<% content_for :head do %>
  <%= meta_tag('episode-url', @episode.asset_url) %>

  <% if user_signed_in? %>
    <script type="text/javascript">
      current_user = { id: <%= current_user.id %>, episode_id: "<%= @episode.to_param %>", avatar: "<%= GravatarImageTag::gravatar_url(current_user.email) %>" }
    </script>
  <% end %>
<% end %>

<div class="row episode" id="episode">
  <div class="content clearfix">
    <div class="screenshot">
      <a href="<%= episode_path(@episode) %>">
        <%= image_tag @episode.still_url %>
      </a>
    </div>

    <h3>
      <span class="number">#<%= @episode.padded_position %></span>
      <a href="<%= episode_path(@episode) %>">
        <%= @episode.name %>
      </a>
    </h3>

    <div class="info">
      <span class="published_at"><%= time_tag(@episode.published_at) %></span> |
      <span class="stats"><%= @episode.minutes %> minutes</span> |
      <span>
        <% @episode.tags.each do |tag| %>
          <a href="/tags/#{tag.name}/episodes"><%= tag.name %></a>
        <% end %>
      </span>
    </div>

    <div class="description">
      <%= @episode.description %>
    </div>

    <div class="watch">
      <a class="btn btn-primary">Click to Play Video ▶</a>
<% if @episode.allow_download? -%>
      <a class="btn btn-info" href="<%= @episode.url_for_downloading %>">Download</a>
<% end -%>
    </div>

    <%= render 'shared/player' %>
  </div>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#notes" data-toggle="tab">Notes</a></li>
<% if @episode.election.present? and current_user.present? -%>
      <li><a href="#election" data-toggle="tab"><%= @episode.election.name %> voting</a></li>
<% end -%>
<% if @episode.allow_comment? -%>
      <li><a href="#comments" data-toggle="tab"><%= @episode.comments_count %> Comments</a></li>
<% end -%>
      <li><a href="#similar" data-toggle="tab">Similar Episodes</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="notes">
        <%= textilize @episode.notes %>
      </div>

<% if @episode.election.present? and current_user.present? -%>
      <div class="tab-pane" id="election">
        <%= render @vote, locals: { election: @episode.election } %>
      </div>
<% end -%>
<% if @episode.allow_comment? -%>
      <div class="tab-pane" id="comments">
        <%= render partial: "comments", locals: { comments: @episode.comments } %>
      </div>
<% end -%>
      <div class="tab-pane" id="similar">
        Similar Episodes
      </div>
    </div>
  </div>
</div>